/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wplibcalhours .hidden {
    display: none;
}

.wplibcalhours tbody td {
    vertical-align: top;
}

/* UNC additions */
.hours-list-view {
    display: grid;
    grid-template-columns: 160px auto;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
    list-style-type: none;
    margin-top: 0 !important;
    padding-left: 5px !important;
    text-align: left;
}

.hours-list-view-stacked {
    padding-left: 0 !important;
    padding-top: 15px !important;
}

.hours-list-view li {
    padding-bottom: 5px;
}
.hours-day {
    font-weight: bold;
    min-width: 35%;
}

.hours-text {
    text-transform: capitalize;
}

.hours-display-stacked {
    display: block;
}

.open {
    max-height: 1500px;
    overflow-y: hidden;
    transition: max-height 1s ease-in-out;
}

.closed {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 1s ease-in-out;
}

.hours-display-stacked h2 {
    font-size: 2rem;
    text-align: left;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-right: 5px;
}

.circle-red {
    background: #D50101;
}

.circle-green {
    background: #04865F;
}

.open-text {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    margin-right:5px
}

.open-indicator {
    display: inline-flex;
    align-items: baseline;
    padding-bottom: 10px;
    padding-left: 5px;
    text-transform: capitalize;
    width: 150px;
}

@media (max-width: 576px) {
    .hours-list-view {
        display: block;
    }
}

/* Spacy occupancy classes */
.spacy {
    font-size: .95rem;
}

.spacy.text-success {
    color: #198754;
}

.spacy.text-danger {
    color: #dc3545;
}

.spacy.text-warning {
    color: #ffc107;
}

/* Override default astra ul style */
.hours-list-view:has(+ .spacy) {
    margin-bottom: 0 !important;
}
